@mixin widthPercent($size) {
  width: $size;
}
// padding
@mixin padding($size, $position) {
  @if ($position == "left") {
    padding-left: $size;
  }
  @if ($position == "top") {
    padding-top: $size;
  }
  @if ($position == "right") {
    padding-right: $size;
  }
  @if ($position == "bottom") {
    padding-bottom: $size;
  }
  @if ($position == "left-right") {
    padding-left: $size;
    padding-right: $size;
  }
  @if ($position == "top-bottom") {
    padding-bottom: $size;
    padding-top: $size;
  }
  @if ($position == "full") {
    padding: $size;
  }
}
//margin
@mixin margin($size, $position) {
  @if ($position == "left") {
    margin-left: $size;
  }
  @if ($position == "top") {
    margin-top: $size;
  }
  @if ($position == "right") {
    margin-right: $size;
  }
  @if ($position == "bottom") {
    margin-bottom: $size;
  }
  @if ($position == "left-right") {
    margin-left: $size;
    margin-right: $size;
  }
  @if ($position == "top-bottom") {
    margin-bottom: $size;
    margin-top: $size;
  }
  @if ($position == "full") {
    margin: $size;
  }
}

@mixin slider() {
  background: #fff;
  overflow-y: auto;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 166px;
}

@mixin siderUser {
  background-color: #f5f5f5;
  border: 1px solid #d0d0d0;
  padding: 10px;
  width: 350px;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 25%);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 80px;
  transition: all 0.3s linear;
}

@mixin map {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 10px;
  right: 0;
  transition: all 0.3s linear;
}

@mixin positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin campLine($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
