.context-menu {
  position: absolute;
  display: none;
  padding: 5px 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 16px;
  z-index: 9999;
  border-radius: 4px;
}

.context-menu .menu-item {
  width: 130px;
  padding: 6px 12px;
  cursor: pointer;
}

.context-menu .menu-item:hover {
  background: #3659f1;
  color: #fff;
}
