
.context-menu {
  position: absolute;
  display: none;
  padding: 5px 1px;
  background-color: #fff;
  font-size: 12px;
  line-height: 16px;
  z-index: 1000;
  .menu-item {
    width: 130px;
    display: block;
    padding: 2px 10px 4px 15px;
    cursor: pointer;
  }
  .allow-hover:hover {
    border-top: 1px #4867ea solid;
    border-bottom: 1px #4867ea solid;
    background: #3659f1;
    color: #fff;
    padding: 1px 10px 3px 15px;
  }
}
